.test-block {
  display: flex;
  justify-content: space-around;
  padding: 10px;

  .test-block__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: 2px solid;
    padding: 10px;
    width: 20%;

    .test-block__link {
      margin: 40px 0;
    }

    .test-block__link--hover {
      color: rgb(70, 70, 255);
      text-decoration: underline;
    }
  }

  .test-block__text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-left: 10px;
  }
}
