@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(255, 255, 255);
  --text-color-1: rgb(63, 63, 63);
  --text-color-2: rgb(108, 108, 108);

  --shadow-1: 10px 10px 63px -8px rgba(169, 169, 169, 0.75);
}

.ant-btn-primary {
  background-color: #1677ff !important;

  &:hover {
    background-color: #40a9ff !important;
  }

  &:active {
    background-color: #096dd9 !important;
  }
}
